Flask
opencv-python==4.10.0.84
numpy==2.5.2
Faker==26.0.0
langchain-core==0.3.29
langchain-ollama==0.2.2
pandas==2.2.2
langchain-groq==0.2.3
scikit-learn==1.6.1
python-dotenv
insightface==1.0.1
reportlab==5.0.1
python-docx==1.2.0
