*{

margin:0;
padding:0;
box-sizing:border-box;

font-family:Poppins,sans-serif;

}

body{

background:#f4f7fb;

padding:40px;

}

.container{

max-width:1100px;

margin:auto;

}

.header{

display:flex;

justify-content:space-between;

align-items:center;

margin-bottom:30px;

}

.header h1{

color:#1e3a8a;

}

#dashboardBtn{

background:#2563eb;

color:white;

border:none;

padding:12px 25px;

border-radius:8px;

cursor:pointer;

font-size:15px;

}

#dashboardBtn:hover{

background:#1d4ed8;

}

.question-card{

background:white;

border-radius:12px;

padding:25px;

margin-bottom:25px;

box-shadow:0 4px 15px rgba(0,0,0,.08);

}

.question-title{

font-size:18px;

font-weight:600;

margin-bottom:20px;

color:#1e293b;

}

.option{

padding:14px;

border-radius:8px;

margin-bottom:12px;

border:2px solid #dbe3ef;

background:white;

}

.correct{

background:#dcfce7;

border-color:#16a34a;

color:#166534;

font-weight:600;

}

.wrong{

background:#fee2e2;

border-color:#dc2626;

color:#991b1b;

font-weight:600;

}

.normal{

background:#ffffff;

}

.legend{

margin-top:20px;

display:flex;

gap:20px;

font-size:14px;

}

.legend div{

display:flex;

align-items:center;

gap:8px;

}

.green-box{

width:18px;

height:18px;

background:#16a34a;

}

.red-box{

width:18px;

height:18px;

background:#dc2626;

}

.gray-box{

width:18px;

height:18px;

background:#cbd5e1;

}

@media(max-width:768px){

.header{

flex-direction:column;

gap:20px;

align-items:flex-start;

}

}