{% extends "base.html" %}

{% block title %}
Available Examinations
{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/exams.css') }}">
{% endblock %}

{% block content %}

<div class="dashboard-container">

    <!-- Header -->
    <section class="exam-page-header">

        <div>

            <h1>
                <i class="fa-solid fa-file-circle-check"></i>
                Available Examinations
            </h1>

            <p>
                Choose an assessment and begin your AI monitored examination.
            </p>

        </div>

        <div class="search-box">

            <input
                type="text"
                id="searchExam"
                placeholder="Search Subject..."
            >

            <i class="fa-solid fa-magnifying-glass"></i>

        </div>

    </section>


    <!-- Statistics -->

    <section class="exam-summary">

    <div class="summary-card">

        <h3 id="totalExams">0</h3>

        <span>Total Exams</span>

    </div>

    <div class="summary-card">

        <h3 id="availableExams">0</h3>

        <span>Available Now</span>

    </div>

</section>


    <!-- Loading -->

    <div id="loading">

        <i class="fa-solid fa-spinner fa-spin"></i>

        Loading Exams...

    </div>


    <!-- No Exams -->

    <div id="emptyState" style="display:none;">

        <img src="{{ url_for('static', filename='images/no-data.svg') }}"
             width="220">

        <h2>No Examinations Found</h2>

        <p>
            AI generated examinations will appear here.
        </p>

    </div>


    <!-- Dynamic Cards -->

    <section class="exam-section" id="examContainer">

    </section>

</div>

{% endblock %}

{% block extra_js %}

<script src="{{ url_for('static', filename='js/exams.js') }}"></script>

{% endblock %}